<h2>Ola, <%- data.clinica.nome %></h2>
<h3>Essa é uma pagina de clinica</h3>
<p>Talvez você queira verificar as consultas pendentes não?</p>
<a class="btn btn-primary" href="/dashboard/emergencias">Verificar Consulta</a>

