<a href="/" class="d-flex flex-column justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <button class="btn btn-outline-light" style="width:48px;height:48px;border-radius:50%;display:flex;align-items:center;justify-content:center;">
        <i class="bi bi-arrow-left" style="font-size:1.5rem;"></i>
    </button>
</a>


        <a href="/" class="d-flex flex-column justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
        <img src="/img/logo.png" width="200px" align="center">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link text-black <%- data.page == 'dashboard' ? 'active' : '' %>">
            Home
            </a>
        </li>
        <li>
            <a href="/dashboard/emergencias" class="nav-link text-black <%- data.page == 'emergencia' ? 'active' : '' %>">
            Emergencias
            </a>
        </li>
        <li>
            <a href="/dashboard/pets" class="nav-link text-black <%- data.page == 'pets' ? 'active' : '' %>">
            Pets
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-black <%- data.page == 'configs' ? 'active' : '' %>">
            Configurações
            </a>
        </li>
        </ul>
        <hr>
        <!-- Botão de alternar modo escuro -->
        <!--<div class="d-flex justify-content-center mb-3"
            <button id="toggle-dark-sidebar" class="btn btn-outline-light" type="button" title="Alternar modo escuro">
                <i class="bi bi-moon"></i> Modo Escuro
            </button>
        </div> -->
        <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
        </div>
        <script>
            document.getElementById('toggle-dark-sidebar').onclick = function() {
                document.body.classList.toggle('dark-mode');
                document.documentElement.classList.toggle('dark-mode');
                if(document.body.classList.contains('dark-mode')) {
                    localStorage.setItem('dark-mode', 'on');
                } else {
                    localStorage.setItem('dark-mode', 'off');
                }
            };
        </script>
