<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="row container m-auto dashboard">
        <div class="sidebar col-3 d-md-flex d-none flex-column flex-shrink-0 p-3 text-white bg-dark" style="height:96vh">
            <%- include('parts/dashboards/sidebar') %>
        </div>
        <div class="col-9 dashboard-page" style="height:96vh">

            <% if(data.page == 'dashboard') { %>
                <% let dashboard = 'parts/dashboards/' + session.tipo %>
                <%- include(dashboard)  %>
            <% }else{ %>
                <% page = 'parts/dashboards/' + data.page %>
                <%- include(page) %>
            <% } %>

        </div>
    </main>
</body>
<% if(session.tipo == "clinica"){ %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        // Registrar como veterinário quando logado
        function emergencyNotification(userId) {
        socket.on('emergency-clinic', function(data) {
            console.log('Notificação de emergência recebida:', data);
        });
        }
    </script>
<% } %>

</html>
