<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <main>
        <section>
            <div class="container">
                <div class="row align-items-center justify-content-center flex-wrap">
                    <!-- Texto à esquerda -->
                    <div class="col-lg-6 d-flex flex-column align-items-start justify-content-center index-intro"
                         style="max-width: 600px; min-height: 520px;">
                        <h3 style="max-width:290px;">Conheça um pouco da plataforma</h3>
                        <p style="font-size:1.25rem; line-height:1.7;">
                            Essa aplicação é o que chamamos de MVP e serve para concluirmos com um olhar amplo sobre o que queremos no resultado final do nosso sistema. A aplicação se propõe a criar um usuario, seja ele veterinario ou cliente, logar-se, e disparar uma noificação nos veterinarios da região quando um cliente disparar o sinal de emergencia
                        </p>
                        <a href="/criar-conta" class="btn btn-primary" type="button">Faça uma conta para iniciar!</a>
                    </div>
                    <!-- Imagem à direita -->
                    <div class="col-lg-6 d-flex flex-column align-items-center index-img">
                        <!-- Espaço acima da imagem -->
                        <div class="w-100 mb-2" style="min-height: 40px;">
                            <!-- Coloque aqui o conteúdo desejado acima da imagem -->
                            <h2 class="text-center">Nós pensamos no bem estar do seu pet!</h2>
                        </div>
                        <img class="img-fluid mb-3" src="img/Medico-Veterinario.jpg" alt="" style="max-width: 90%; border-radius: 18px;">
                        <!-- Espaço abaixo da imagem para conteúdo extra -->
                        <div class="w-100 mt-2" style="min-height: 60px;">
                            <h3 class="text-center">Já é um usuário? Clique aqui para entrar!</h3>
                            <div class="d-flex justify-content-center">
                                <a href="/entrar" class="btn btn-primary mt-2 btn-lg" type="button">Entrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('parts/footer.ejs') %>
    <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>