
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quem somos</title>
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <main class="container py-5">
    <section class="quem-somos-intro text-center my-5">
        <h1>Quem Somos</h1>
        <p class="lead mt-3">
            Somos uma equipe apaixonada por tecnologia e cuidado animal, dedicada a conectar clínicas veterinárias e tutores de pets de forma simples, rápida e eficiente.<br>
            Nosso objetivo é facilitar o acesso à saúde animal, promovendo bem-estar e inovação.
        </p>
    </section>
    <!-- Adicione mais conteúdo sobre a equipe, missão, etc. -->
</main>
    <%- include('parts/footer.ejs') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>