<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include('parts/header.ejs') %>
    <main class="container py-5">
        <h1>Sobre o Projeto</h1>
        <p>Esta página apresenta informações sobre o sistema, equipe e objetivos.</p>
    </main>
    <%- include('parts/footer.ejs') %>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>