header .navbar{
    background-color:#43c3dd!important
}
.form-login, .form-criar-conta {
    padding:32px;
    border-radius: 32px;
    box-shadow: 0px 1px 12px rgba(0,0,0,.4);
    background-color: #f2faff;;
}
.form-criar-conta [type="text"], .form-criar-conta select, .form-criar-conta [type="password"], .form-criar-conta [type="email"],.form-login [type="text"], .form-login [type="password"], .form-login [type="email"] /*Fala que foi IA que fez isso daqui q eu cometo um crime de odio*/{
    border-radius:40px;
    background-color: #f2faff;;
    border:solid 4px #004a94;
    padding:12px;
}
.form-login .btn, .form-criar-conta .btn{
    background-color:#004a94;
    color:white;
    border-radius:18px;
    font-size:1.3rem
}
.form-login h1,.form-criar-conta h1, .form-criar-conta h2{
    font-size:2.5rem;
    color:#1f2840;
    word-spacing: 3px!important;
    font-weight: 900;
}
main.entrar{
    background-image: url('/img/entrar-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
main.criar-conta{
    background-image: url('/img/cadastro-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}