<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="integrantes">
        <h3>Integrantes</h3>
        <ul>
            <li>Elaine Souza</li>
            <li>Mario</li>
            <li>Miguel</li>
            <li>Bruna</li>
            <li>Pedro</li>
        </ul>
        <p class="agradecimento" style="margin-top:20px; font-size:1.1rem;">
            Obrigado por acessar nosso projeto! 💙
        </p>
    </div>
</footer>