<link rel="stylesheet" href="/css/header.css">
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Botão do menu hamburguer (só aparece em telas pequenas) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links da navbar (visíveis em telas grandes) -->
      <ul class="navbar-nav flex-row d-none d-lg-flex">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Funcionalidades</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Saiba Mais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Como Surgiu</a></li>
            <li><a class="dropdown-item" href="#">Como desenvolvemos</a></li>
            <li><a class="dropdown-item" href="#">Quais os nossos objetivos</a></li>
            <li><a class="dropdown-item" href="#">Fontes de Pesquisa</a></li>
          </ul>
        </li>
      </ul>
      <!-- Botão de login -->
      <a href="/entrar" class="login-btn ms-3">
        <i style="font-size:38px;" class="bi bi-person-circle"></i>
      </a>
    </div>
  </nav>

  <!-- Offcanvas menu (aparece só em telas pequenas) -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Funcionalidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Saiba Mais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Como Surgiu</a></li>
            <li><a class="dropdown-item" href="#">Como desenvolvemos</a></li>
            <li><a class="dropdown-item" href="#">Quais os nossos objetivos</a></li>
            <li><a class="dropdown-item" href="#">Fontes de Pesquisa</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>