    <header>
        <nav>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Hobbies</li></a>
            <a href="#"><li>Filmes/Livros/Musicas</li></a>
            <a href="#"><li>Perfil</li></a>
        </nav>
    </header>